.container-padre {
    min-height: 100vh;
}
.container-hijo {
    display: flex; 
    align-items: start; 
    flex-direction: column; 
    width: 12em; 
    background-color: whitesmoke;
    border: solid 1px gray;
    
}
.tamaño {
    width: 60px;
    height: 50px;
}
