.container-padre {
    min-height: 100vh;
    display: flex;
}
.container-hijo {
    display: flex; 
    align-items: start; 
    flex-direction: column; 
    width: 15em; 
    height: 3em;
    background-color: whitesmoke;
    border: solid 1px gray;
    justify-content: center;
    }
.tamaño {
    flex-basis: 45px;
    height: 25px; 
    border-radius: 30px;
    
}
.tamaño-chat {
    width: 150px;
    height: 25px;
   
}
.chat {
    height: 100px;
    justify-content: center;
    align-items: center;
}
p {
    font: size 20px;
    /*border:solid 1px;*/
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.fuente-parrafo2 {
    font-size: 10px;
    color: gray;
    height: 100%;
    margin: top 20px;
    padding-bottom: 20px;
}
.fuente-parrafo3 {
    font-size: 13px;
    color: gray;
    height: 100%;
    margin: top 20px;
    padding-bottom: 20px;
}

.parrafo-maria {
    height: 100%
    }
.maria {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.juanita {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.alberto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ignacio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
}
.cristian {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.maria-jose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gonzalo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.juan-pablo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.magdalena {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.seccion-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    width: 79.625em;
    height: 34.2628em;
    }
.box-parrafo {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}